<div class="container-fluid badfooterlogo-block">
    <div class="badfooterlogo-content-img-one">
        <img src="{{ image }}" alt="">
    </div>
    {# <div class="badfooterlogo-content-description">
        {{ description }}
    </div> #}
</div>