<div class="badtimer-wrapper">
    <div class="badtimer-content-box" data-datetime='{{ specific_timer }}'>
        <div class="badtimer-content-inner">
            <div class="badtimer-content-icon">
                {# <i class='material-icons'>&#xe190</i> #}
            </div>
            <div class="badtimer-content-days badtimer-content">
                <div class="badtimer-content-days-time badtimer-time">
                </div>
                <div class="badtimer-content-days-label badtimer-label">Day</div>
            </div>
            <div class="badtimer-dot">:</div>
            <div class="badtimer-content-hours badtimer-content">
                <div class="badtimer-content-hours-time badtimer-time">
                </div>
                <div class="badtimer-content-hours-label badtimer-label">Hou</div>
            </div>
            <div class="badtimer-dot">:</div>
            <div class="badtimer-content-minutes badtimer-content">
                <div class="badtimer-content-minutes-time badtimer-time">
                </div>
                <div class="badtimer-content-minutes-label badtimer-label">Min</div>
            </div>
            <div class="badtimer-dot">:</div>
            <div class="badtimer-content-secounds badtimer-content">
                <div class="badtimer-content-secounds-time badtimer-time">
                </div>
                <div class="badtimer-content-secounds-label badtimer-label">Sec</div>
            </div>
            {# <div class="badtimer-dot">:</div> #}
            <div class="badtimer-content-close">
                <div class="badtimer-content-close-label">Special Offer is Over</div>
            </div>
        </div>
    </div>
</div>