<div id="_desktop_search">
    <div class="search-widget badsearch-block">
        <div class=" badsearch-inner">
            <div class="badsearch-content-box-wrapper">
                <div class=" badsearch-content-box">
                    <div class="badsearch-content-box-inner">
                        <span class="badheader-search-btn" data-toggle="dropdown">
                            <i class="lnr lnr-magnifier"></i>
                        </span>
                        <div class="badsearch-content-wrapper">
                            <div class="form">
                                
                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                
                                <input type="text" class="input_search ui-autocomplete-input" name="search" placeholder="Search our catalog">
                                <button type="submit" id="tntlivesearch">
                                    <i class="lnr lnr-magnifier"></i>
                                    <span class="hidden-xl-down">Search</span>
                                </button>
                            </div>
                            <div class="search_popup"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
