#speedy_container {
    position: relative;
}
#speedy_container #speedy_form.loading_speedy_container {
    opacity: 0.4;
}

#speedy_container .wait {
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    line-height: 3;
    text-align: center;
    color: #000;
}

#speedy_container .wait div {
    margin: 10% auto;
    background: #f5f5f5;
    width: 30%;
    border-radius: 6px;
    border: 1px solid #ddd;
}